_ReSharper*
*.opensdf
*.sdf
*.DotSettings
[Bb]in/
[Oo]bj/
*.suo
Debug/
*.user
UiaClientInterop/UIAutomationClient_i.c
UiaCoreInterop/UIAutomationCore_i.c
packages/
Release/
*.VC.opendb
*.VC.db
